@import "tailwindcss";

@theme {
  --color-gray-100: #ffffff;
  --color-gray-200: #f5f6f5;
  --color-gray-300: #d4d5d4;
  --color-gray-400: #b1b1b1;
  --color-gray-500: #7e7e7e;
  --color-gray-600: #424242;
  --color-gray-700: #262626;
  --color-gray-800: #1a1a1a;
  --color-gray-900: #0e0e0e;
  --color-gray-950: #020202;
  --color-red-100: #fee7e8;
  --color-red-200: #fdd0d0;
  --color-red-300: #fba1a2;
  --color-red-400: #fa7273;
  --color-red-450: #fc8782;
  --color-red-500: #f84345;
  --color-red-550: #fe5356;
  --color-red-600: #f71618;
  --color-red-700: #c80e0e;
  --color-red-800: #801011;
  --color-red-900: #490b0d;
  --color-red-950: #2e0b09;
  --color-green-450: #32cd32;
  --color-green-550: #4fe14f;
}

body {
  @apply bg-gray-950 text-gray-100;
}
